<?xml version="1.0"?>
<robot name="robotic_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="RobotSystem" type="system">
        <hardware>
            <!-- By default, set up controllers for simulation. This won't work on real hardware -->
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="base_waist_joint">
            <command_interface name="position">
                <param name="min">-3.142/2</param>
                <param name="max">3.142/2</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="waist_arm_joint">
            <command_interface name="position">
                <param name="min">-3.142/2</param>
                <param name="max">3.142/2</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="arm_end_joint">
            <command_interface name="position">
                <param name="min">-3.142/2</param>
                <param name="max">3.142/2</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="end_support_joint">
            <command_interface name="position">
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="support_cam_joint">
            <command_interface name="position">
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>
