<?xml version="1.0" encoding="utf-8"?>
<robot name="robotic_arm" xmlns:xacro="http:///www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find moveit_robotic_arm)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>