<?xml version="1.0" encoding="utf-8"?>
<robot name="robotic_arm" xmlns:xacro="http:///www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotic_arm)/urdf/Robot_Arm_control.xacro" />
  <xacro:include filename="$(find robotic_arm)/urdf/Robot_Arm_gazebo.xacro" />
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-7.5348E-09 -0.00013761 0.017995"
        rpy="0 0 0" />
      <mass
        value="0.83" />
      <inertia
        ixx="0.00014427"
        ixy="6.2688E-11"
        ixz="-2.1919E-11"
        iyy="0.00014507"
        iyz="-5.8994E-08"
        izz="0.00022021" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
      
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="waist_Link">
    <inertial>
      <origin
        xyz="0.0074946 0.019383 -0.0014293"
        rpy="0 0 0" />
      <mass
        value="0.073648" />
      <inertia
        ixx="6.7954E-05"
        ixy="-6.43E-06"
        ixz="2.5439E-07"
        iyy="6.0133E-05"
        iyz="6.7307E-06"
        izz="5.0282E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/waist_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/waist_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_waist_joint"
    type="revolute">
    <origin
      xyz="0 0 0.0575"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="waist_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="10"
      velocity="3" />
  </joint>
  <link
    name="arm_Link">
    <inertial>
      <origin
        xyz="1.0586E-07 0.06 -0.0049709"
        rpy="0 0 0" />
      <mass
        value="0.064059" />
      <inertia
        ixx="0.00010375"
        ixy="3.5389E-10"
        ixz="1.0836E-10"
        iyy="9.2286E-06"
        iyz="-4.5873E-12"
        izz="0.00010863" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/arm_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/arm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_arm_joint"
    type="revolute">
    <origin
      xyz="0 0.04028 -0.01391"
      rpy="0 1.5708 0" />
    <parent
      link="waist_Link" />
    <child
      link="arm_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="10"
      velocity="3" />
  </joint>
  <link
    name="end_Link">
    <inertial>
      <origin
        xyz="0.041711 3.1659E-05 -0.00972"
        rpy="0 0 0" />
      <mass
        value="0.047098" />
      <inertia
        ixx="8.7227E-06"
        ixy="-6.9702E-08"
        ixz="-4.0365E-07"
        iyy="5.1401E-05"
        iyz="-1.8365E-10"
        izz="5.4665E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/end_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/end_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_end_joint"
    type="revolute">
    <origin
      xyz="0 0.12 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="arm_Link" />
    <child
      link="end_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="10"
      velocity="3" />
  </joint>
  <link
    name="support_Link">
    <inertial>
      <origin
        xyz="0.0096128 0.01329 0.0015"
        rpy="0 0 0" />
      <mass
        value="0.032654" />
      <inertia
        ixx="8.6378E-06"
        ixy="-1.6109E-07"
        ixz="3.8781E-22"
        iyy="1.0677E-05"
        iyz="-1.0792E-21"
        izz="1.2956E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/support_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/support_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_support_joint"
    type="fixed">
    <origin
      xyz="0.065057 -0.0082418 -0.011"
      rpy="0 0 0" />
    <parent
      link="end_Link" />
    <child
      link="support_Link" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link
    name="cam_Link">
    <inertial>
      <origin
        xyz="-0.04 -0.022 -0.021"
        rpy="0 0 0" />
      <mass
        value="0.079507" />
      <inertia
        ixx="2.4501E-05"
        ixy="-1.8211E-21"
        ixz="-5.7909E-22"
        iyy="2.4501E-05"
        iyz="-2.7946E-23"
        izz="2.4501E-05" />
    </inertial>
    <visual>
      <origin
        xyz="-0.04 -0.022 -0.021"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/cam_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/khaled/ros2_ws/src/robotic_arm/meshes/cam_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="support_cam_joint"
    type="fixed">
    <origin
      xyz="0.04 0.0525 0.0005"
      rpy="-1.570 0 0" />
    <parent
      link="support_Link" />
    <child
      link="cam_Link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Robot Tip -->
  <link name="tip_link"/>
  <joint name="support_tip_joint" type="fixed">
    <parent link="support_Link"/>
    <child link="tip_link"/>
    <origin xyz="0.025 0.004 0.001" rpy="0 0 0"/> 
  </joint>
  <!-- fix the robot to the world -->
 

  <xacro:macro name="control" params="joint">
    <transmission name="${joint}_transmission">
      <plugin>transmission_interface/SimpleTransmission</plugin>
      <joint name="${joint}_joint"> 
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </joint>
      <actuator name="${joint}_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> 
        <mechanicalReduction>1.0</mechanicalReduction>  
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:control joint="base_waist"/>
  <xacro:control joint="waist_arm"/>
  <xacro:control joint="arm_end"/>

  <link name="cam_Link_optical">
    </link>
    <joint name="cam_Link_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="cam_Link"/>
        <child link="cam_Link_optical"/>
    </joint>

    <gazebo reference="cam_Link">
        <material>Gazebo/Red</material>
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <camera name="cam">
              <horizontal_fov>1.3962634</horizontal_fov>
              <image>
                <width>1280</width>
                <height>1280</height>
                <format>R8G8B8</format>
              </image>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>cam_link_optical</frame_name>
                <image_width>1280</image_width>
                <image_height>1280</image_height>
                <update_rate>10.0</update_rate>
            </plugin>
        </sensor>
    </gazebo>
</robot>